<section id="about">

 <div class="row section-head">

     <div class="twelve columns">

       <h1>Who Are We<span>.</span></h1>

        <hr />

        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>

     </div> <!-- end section-head -->

   </div>

   <div class="row mobile-no-padding">

     <div class="process bgrid-half tab-bgrid-whole group">

       <div class="bgrid">

         <h3>Our Process.</h3>

         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
         </p>

     </div>

       <div class="bgrid">

         <h3>Our Approach.</h3>

         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
       </p>

       </div>

       <div class="bgrid">

         <h3>Our Goal.</h3>

         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
         </p>

       </div>

       <div class="bgrid">

         <h3>Our Mission.</h3>

         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
         </p>

       </div>

     </div> <!-- end process -->

   </div> <!-- end row -->


   <div class="row team section-head">

   <div class="twelve columns">

        <h1>Meet Our Team<span>.</span></h1>

        <hr />

     </div>

   </div> <!-- end section-head -->

   <div class="row">

      <div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">

         <div class="bgrid member">

       <div class="member-pic">
         <img src="assets/img/team/member01-k.jpg" alt=""/>
               <div class="mask"></div>
            </div>
            <div class="member-name">
               <h3>Naruto Uzumaki</h3>
               <span>Creative Director</span>
            </div>

            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

         </div> <!-- end member -->

         <div class="bgrid member">

       <div class="member-pic">
               <img src="assets/img/team/member03-k.jpg" alt=""/>
             <div class="mask"></div>
            </div>
            <div class="member-name">
               <h3>Sasuke Uchiha</h3>
               <span>Lead Designer</span>
            </div>

            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

         </div> <!-- end member -->

         <div class="bgrid member">

       <div class="member-pic">
         <img src="assets/img/team/member04-k.jpg" alt=""/>
               <div class="mask"></div>
            </div>
            <div class="member-name">
               <h3>Shikamaru Nara</h3>
               <span>Designer</span>
            </div>

            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

       </div> <!-- end member -->

         <div class="bgrid member">

       <div class="member-pic">
               <img src="assets/img/team/member05-k.jpg" alt=""/>
               <div class="mask"></div>
            </div>
            <div class="member-name">
               <h3>Sakura Haruno</h3>
               <span>Designer</span>
            </div>

            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

         </div> <!-- end member -->

      </div> <!-- end team-wrapper -->

   </div> <!-- end row -->

   <div id="call-to-action">

    <div class="row section-ads">

       <div class="twelve columns">

         <h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost<span>.</span></a></h2>

         <p>
         Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
       Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
       <!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->
       </p>

       <div class="action">
            <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT" >Sign Up Now</a>
         </div>

      </div>

    </div> <!-- end section-ads -->

  </div> <!-- end call-to-action -->

</section>
