<header id="main-header">

    <div class="row">

        <div class="logo text-center">
           <a ui-sref="main"></a>
        </div>

        <nav id="nav-wrap">

           <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
            <span class="menu-icon">Menu</span>
           </a>
          <a class="mobile-btn" href="#" title="Hide navigation">
            <span class="menu-icon">Menu</span>
          </a>

           <ul id="nav" class="nav">
              <li><a class="current" ui-sref="home">Home.</a></li>
              <li><a class="smoothscroll" ui-sref="about">About us.</a></li>
              <li><a class="smoothscroll" ui-sref="register">Register.</a></li>
              <li><a class="smoothscroll" href="#login">Login.</a></li>
              <li><a class="smoothscroll" ui-sref="contact">Contact.</a></li>
           </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->

        <ul class="header-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>

     </div>

   </header>
